:root {
 --white: #FFF;
 --black: #000;

 --gray-100: #E1E1E6;
 --gray-200: #A9A9B2;
 --gray-400: #7C7C8A;
 --gray-500: #505059;
 --gray-600: #323238;
 --gray-700: #29292E;
 --gray-800: #202024;
 --gray-900: #121214;

 --green-300: #00B37E;
 --green-500: #00875F;
 --green-700: #015F43;
 --green-900: #00291D;
}
