{{page-title "EmberApp"}}

<main class="app">
  <my-heading>Ember + Web components</my-heading>

  <my-text>Type your name:</my-text>

  <my-input placeholder="Type..."></my-input>

  <div style="margin-top: 10px;">
    <my-component name="Arrudadev"></my-component>
  </div>
</main>

{{outlet}}